# Export all names
export(gam.style)
export(linear)
export(linear.prime)
export(logistic)
export(logistic.prime)
export(monmlp.fit)
export(monmlp.predict)
export(tansig)
export(tansig.prime)
importFrom(stats, runif)
importFrom(optimx, optimx)
importFrom(graphics, abline)
importFrom(graphics, segments)
importFrom(grDevices, dev.new)
